.carousel {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px #188bff,
    0 0 30px #188bff, 0 0 40px #188bff, 0 0 50px #188bff;
  -webkit-animation: heartbeat ease-in-out;
  animation: heartbeat ease-in-out;
  max-width: 90vw;
  height: 85vh;
  margin: 0 auto;

  &__btn {
    position: absolute;
    z-index: 2;

    &-prev {
      top: 50%;
      left: 1rem;
    }
    &-next {
      top: 50%;
      right: 1rem;
    }
  }
}

@-webkit-keyframes heartbeat {
  0%,
  50%,
  100% {
    transform: scale(0.98) skewX(0deg);
  }
  25% {
    transform: scale(1) skewX(-1.5deg);
  }
  75% {
    transform: scale(1) skewX(1.5deg);
  }
}

@keyframes heartbeat {
  0%,
  50%,
  100% {
    transform: scale(0.98) skewX(0deg);
  }
  25% {
    transform: scale(1) skewX(-1.5deg);
  }
  75% {
    transform: scale(1) skewX(1.5deg);
  }
}
