.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  background: #21292e url('/images/header.jpg') no-repeat top/cover;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: var(--primary-box-shadow);
  filter: brightness(0.85);
  min-height: 30dvh;

  &__link-logo {
    grid-row: span 2;
  }
  &__logo {
    max-width: 80%;
    padding-left: 20px;
    filter: drop-shadow(#fff 0px 0px 5px);
  }

  &__heading {
    text-align: center;
    align-self: end;
    font-size: calc(1rem + 6vw);
    color: var(--primary-color);
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  }
}
@supports not (max-height: 30dvh) {
  .header {
    min-height: 30vh;
  }
}
