@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Dosis&display=swap');

:root {
  font-family: 'Dosis', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  --primary-color: rgb(255, 34, 34);
  --primary-box-shadow: black 0px 0px 5px, black 0px 0px 10px,
    black 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #354149 url('/images/background.jpg') no-repeat center/cover fixed;
  font-size: clamp(1rem, 1.2vw, 2.5rem + 0.5vw);
}

h1,
h2,
h3 {
  font-family: 'Barrio', cursive;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100dvh;
}

@supports not (min-height: 100dvh) {
  #root {
    min-height: 100vh;
  }
}
